# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Docker
# ==========================
*.tar

# ==========================
# Terraform
# ==========================
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# ==========================
# Kubernetes
# ==========================
*.kubeconfig

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Misc
# ==========================
*.swp
*.tmp
